<div class="cb-tree">
    <p ng-if="simpleTree.haveAllChecked">
        <span class="glyphicon glyphicon-check cursor-pointer-btn" ng-show="simpleTree.allChecked" ng-click="toggleAllChecked()"></span>
        <span class="glyphicon glyphicon-unchecked cursor-pointer-btn" ng-show="!simpleTree.allChecked" ng-click="toggleAllChecked()"></span>
        <label ng-bind="simpleTree.allCheckedLabel"></label>
    </p>
    <ul class="list-group" ng-if="simpleTree.treeNodes.length > 0">
        <li class="list-group-item" ng-repeat="node in simpleTree.treeNodes" ng-show="node.state.display" ng-mouseenter="showOperateBtn(node)" ng-mouseleave="hideOperateBtn(node)">
            <div class="content-container" ng-style="simpleTree.contentContainerStyle">
                <span class="badge">{{ node.badge }}</span>
                <span class="glyphicon glyphicon-placeholder" ng-repeat="item in node.state.layerArr"></span>
                <span class="glyphicon glyphicon-chevron-down cursor-pointer-btn" ng-if="node.childNodeIds.length > 0" ng-show="node.state.expand" ng-click="toggleExpandState(node)"></span>
                <span class="glyphicon glyphicon-chevron-right cursor-pointer-btn" ng-if="node.childNodeIds.length > 0" ng-show="!node.state.expand" ng-click="toggleExpandState(node)"></span>
                <span class="glyphicon glyphicon-placeholder" ng-if="node.childNodeIds.length === 0"></span>
                <span class="glyphicon glyphicon-check cursor-pointer-btn" ng-if="simpleTree.haveCheckBox" ng-show="node.state.checked" ng-click="toggleCheckedState(node)"></span>
                <span class="glyphicon glyphicon-unchecked cursor-pointer-btn" ng-if="simpleTree.haveCheckBox" ng-show="!node.state.checked" ng-click="toggleCheckedState(node)"></span>
                {{ node.name }}
            </div>
            <div class="operation-btn-container" ng-if="simpleTree.haveOperationBtn" ng-show="node.state.operationBtnDisplay">
                <span class="glyphicon glyphicon-plus" ng-click="simpleTree.addNode(node.attach)"></span>
                <span class="glyphicon glyphicon-pencil" ng-click="simpleTree.editNode(node.attach)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="simpleTree.deleteNode(node.attach)"></span>
            </div>
        </li>
    </ul>
</div>